---
layout: default
---
<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Ticketing done simple.</h1>
      <h2 class="subtitle">This is Openticket, an open sourced ticketing framework that's free to use.</h2>
      <h2 class="subtitle">
        <a class="button is-inverted disabled is-large is-primary" disabled href="#">
          <span class="icon is-medium"><i class="fa fa-download"></i></span>
          <span>Deploy :soon:</span>
        </a>
        <a class="button is-inverted is-large is-primary" href="https://github.com/open-ticket">
          <span class="icon is-medium"><i class="fa fa-github"></i></span>
          <span>Source Code</span>
        </a>
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container content">
    {{ content }}
  </div>
</section>
